#sidebar {
    min-width: 150px;
    max-width: 150px;
    background: #000099;
    color: #fff;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

pre {
    border: 1px dashed #828385;
    background-color: white !important;
    padding-top: 6px;
    padding-left: 11px;
    padding-bottom: 6px;
}