{% extends "base.tmpl.html" %}

{% block content %}
    {{ content|fix_images|safe }}
{% endblock %}

{% block footer %}
    	<script type="text/javascript">
            $(document).ready(function() {
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            $.notify({
                                message: '{{ message }}'
                            },{
                                type: 'danger',
                                placement: {
                                    from: "top",
                                    align: "right"
                                },
                            });
                        {% endfor %}
                    {% endif %}
                {% endwith %}
    		});
        </script>
{% endblock %}