{% extends "base.tmpl.html" %}

{% block header %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/jquery.dataTables.min.css') }}">
{% endblock %}

{% block content %}
    <table id="navi_grid" class="display">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Größe</th>
                <th>Geändert am</th>
                <th>Erstellt am</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in content %}
                <tr>
                    <td>
                        {% if entry['is_dir'] == true %}
                            [DIR]
                        {% else %}
                            [FILE]
                        {% endif %}
                    </td>
                    <td>
                        {% if entry['is_dir'] == true %}
                            <a href="{{url_for('pages_index.index')}}/{{entry['path']}}">
                        {% else %}
                            <a href="{{url_for('pages_view.home')}}{{entry['path']}}">
                        {% endif %}

                        {{ entry['name'] }}</a></td>
                    <td>
                        {% if entry['is_dir'] != true %}
                            {{ entry['size'] }}
                        {% endif %}
                    </td>
                    <td>{{ entry['mtime'] }}</td>
                    <td>{{ entry['ctime'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer %}
        <script src="{{ url_for('static',filename='styles/js/jquery.dataTables.min.js') }}"></script>
    	<script type="text/javascript">
            $(document).ready(function() {
			$('#navi_grid').dataTable( {
                "order": [[ 1, "asc" ]],
    			"bFilter": false,
    			"paging": false,
                "columnDefs": [
                            {
                                "render": function ( data, type, row ) {
                                    if(data == "[DIR]") {
                                        return '<img src="{{ url_for('static', filename='styles/images/folder.png') }}" />';
                                    }
                                    else if(data == "[FILE]") {
                                        return '<img src="{{ url_for('static', filename='styles/images/file.png') }}" />';
                                    }
                                },
                                "targets": 0,
                                "className": 'dt-body-center',
                                "width": '26px'
                             }

                        ]
			});
		});
        </script>
{% endblock %}